.navbar {
  position: sticky;
  // top: 0;
  width: 100%;
  // z-index: 100;
  // background: #ece9e6;
  // background: linear-gradient(to bottom, #ffffff, #ece9e6);
  align-items: right;

  background-color: #fefefe;
  background-image: linear-gradient(315deg, #fefefe 0%, #00a4e4 74%);
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
}

.app-title {
  font-size: 22px;
  margin-left: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;

}

button {
  font-size: 17px;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 700;
}

.nav-links {
  margin-right: 30px;
}

@media (max-width: 576px) {
  .app-title {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .nav-links {
    margin-right: 10px;
  }
  button{
    font-size: 10px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 600;
    margin-right: 0%;
  }
  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
  }
 }
