<div class='navbar'>
  <div class='nav-container'>
    <button mat-button class='app-title' routerLink='/movies' color='primary'>
      myFlix App
    </button>
    <div class='nav-links'>
      <button mat-button class='movies-nav-bar' routerLink='/movies' color='primary'>
        Movies
      </button>
      <button mat-button class='profile' routerLink='/profile' color='primary'>
        Profile
      </button>
      <button mat-button class='logout' (click)='logOutUser()' color='accent'>
        Logout
      </button>
    </div>
  </div>
</div>