.profile-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  width: 100%;
}

.update-container{
  margin-top: 2%;
  width: 550px;
}

.update-form--action{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
}

.user-info{
  padding: 5% 0%;
  width: 550px;
  text-align: center;
}

.mat-card-title{
  margin-bottom: 7%;
  text-align: center;
}
.favorite-movies-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.favoriteMovie-card-container{
  margin-bottom: 5%;
}
.favoriteMovie-card-container{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 576px) {
  .user-info{
    padding: 5% 0%;
    width: 350px;
    text-align: center;
  }
 }