<div class="description-page">
  <mat-toolbar>
    <mat-toolbar-row class="description-header">
      <h3 mat-dialog-title class="description-title">
        {{ data.title }}
      </h3>
      <button mat-icon-button aria-label="Close button with an X" mat-dialog-close color="primary">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-dialog-content class="description-content">
    <img src={{data.ImagePath}} alt={{data.title}} />
    <p>Description: {{data.description}}</p>
    <p>Director: {{data.director}}</p>
    <p>Genre: {{data.genre}}</p>
  </mat-dialog-content>
</div>